@model IEnumerable<FindEducators.Models.User>
@{
    ViewBag.Title = "TeahcersList";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<section id="inner-banner">
    <div class="container">
        <h1>List of Teachers</h1>
    </div>
</section>

<div class="main">

</div>